<!DOCTYPE html>
<html lang="en">
<head>
  {{template "header"}}
  <title>首页 - 我的 beego 博客</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      {{template "navbar" .}}
    </div>
  </nav>
  <div class="container">
    {{range .Topics}}
    <div class="page-header">
      <h1>{{.Title}}</h1>
      <h6 class="text-muted">文章发表于 {{.Created}}, 共有 {{.Views}} 浏览， {{.ReplyCount}} 评论</h6>
      <p>
        {{.Content}}
      </p>
    </div>
    {{end}}
  </div>
  {{template "footer"}}
</body>
</html>